language: php

php:
  - 5.5
  - 5.6

before_install:
  - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
  - composer self-update
  - composer install

script:
  - phpunit --exclude-group=none

services:
  - elasticsearch
