language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_install:
  - echo "memory_limit=2G" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

install:
  - composer self-update
  - composer install

script:
  - ./vendor/bin/phpunit --exclude-group=none

services:
  - elasticsearch
